body {
    background: #eee;
    color: #444;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

@media(max-width: 576px) {
    h1 {
        font-size: 11vw;
    }
}

a, .weak {
    color: #666;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a i {
    transition: transform 0.1s;
    vertical-align: baseline;
}

a:hover i.rotate {
    transform: rotate(40deg);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#url > h4 > a {
    margin: 0 15px;
}

.footer i {
    vertical-align: middle;
}

.header-background {
    width: 100%;
    height: 100%;
    opacity: 0.75;
    overflow: auto;
}

#site-link {
    transition: margin 0.4s, padding 0.4s;
}

@media (min-width: 576px) {
    #site-link:hover {
        padding-top: 3rem!important;
        margin-bottom: -2rem!important;
    }
}

#vrview.loaded, #vrview.loaded iframe {
    height: 100vh;
    width: 100%;
}

#vrview:not(.loaded.gallery) #vr-controls {
    display: none;
}

#vrview {
    position: relative;
    overflow: hidden;
}

#vr-controls {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff !important;
    font-size: 18px;
    display: flex;
    align-items: center;
}

body.vrview-loaded .footer {
    background-color: #1f1f1f;
    color: #8c8c8c;
}

body.vrview-loaded .footer a:hover {
    color: #aaa;
}

#vr-controls button {
    padding: 0 1rem;
    line-height: 1;
    font-size: 18px;
}

#vr-controls button i {
    color: #fff;
}

.container-fluid {
    min-height: 100vh;
}

.gallery-item img {
    height: 100px;
    cursor: pointer;
}

body:not(.vrview-loaded) #scrollBtn, body:not(.vrview-loaded) #shareBtn {
    visibility: hidden;
}
